@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: black;
  font-size: 16px;
  color:white;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: visible;
}

/* Login */
.loginContainer{
  display:  flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.loginContainer form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  margin: 2rem;
}
.loginContainer form input{
  margin: 2rem;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid white;
  color: white;
  text-align: center;
  font-size: 2rem;
}
form input:hover{
  opacity: 0.8;
}
form button{
  background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  color:white;
  padding: 1.5rem;
  border: 0px;
  font-size: 2rem;
  margin: 2rem;
}

/* home */
.home_container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top:10rem;
}

.home_container img{
  height: 3rem;
}
.home_container h1{
  position: relative;
  top:-5rem;
  font-size: 12rem;
  opacity: 0.1;
  font-family: 'Montserrat';
}