@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


/* Use this for theming */
:root{
  /* Main BG Styling */
  --primary-color: #1a237e;
  --secondary-color:#283593;
  --contrast-color:#303f9f;
  --button-text-color:white;
  --button-text-color-hover:white;
  --form-textcolor:white;

}
body{
    background: var(--primary-color);
    color:white;
    font-family: 'Montserrat';
    font-size: 16px;
    transition: all 0.2 ease-in-out;
    -webkit-transition: all 0.2 ease-in-out;
    -moz-transition: all 0.2 ease-in-out;
    -ms-transition: all 0.2 ease-in-out;
    -o-transition: all 0.2 ease-in-out;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}


/* Basic Styling */

/* Link Styling */
.link{
  text-decoration: none;
  color:var(--button-text-color)
}


/* Button Styling */
button {
  border: 0px;
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  margin: .5rem;
}

button:hover {
  background: var(--contrast-color);
  color: var(--button-text-color-hover);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}



/* Select Styling */

.select_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: var(--secondary-color);
  background-image: none;
  font-size: 1rem;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 10rem;
  height: 3rem;
  line-height: 3;
  background: var(--contrast-color);
  overflow: hidden;
  border-radius: .25em;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: var(--contrast-color);
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* Transition */
.select:hover::after {
  color: var(--secondary-color);
}


/* Custom Stylings  */


/* home */
.home_container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top:8rem;
  width: 70vw;
}

.home_container img{
  height: 3rem;
}

.home_container h1{
  position: relative;
  font-size: 10rem;
  opacity: 0.1;
  top: -6rem;
}
.home_container .theme_selector{
  position: relative;
  top: -14rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.home_container .theme_selector button{
  font-size: 0.8rem;
}

.home_container .add_button{
  position: relative;
  top:-12rem;
  text-align: center;
  border: 0px;
  padding: 1rem;
  margin: 1rem;
}
.home_container .add_button:hover{
  opacity: 0.7;
  color:var(--button-text-color-hover)
}


/* Contact List */
.contacts_list_container{
  position: relative;
  top:-8rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 5rem;
  width: 70vw;
}

.contact_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  padding: 2rem;
  border-radius: 1%;
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}
.contact_container:hover{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  background: var(--secondary-color);
}

.contact_container .name{
  font-size: 2.5rem;
  margin: .5rem;
}
.contact_container .sub_info{
  font-size: 1rem;
  margin: .5rem;
  opacity: 0.5;
}
.contact_container .actions_container{
  display: flex;
  padding: .5rem;
  width: 100%;
  justify-content: space-between;
}



/* Add Contact */
.add_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add_container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 1rem;
}

.add_container form input {
  margin: 1.4rem;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid var(--secondary-color);
  color: var(--form-textcolor);
  text-align: center;
  font-size: 1.4rem;
  width: 80%;
}

.add_container form input:hover {
  opacity: 0.9;
}

.add_container .select_wrapper{
  text-align: center;
  font-size: 1.2rem;
}
.add_container .select_wrapper label{
  padding: .5rem;
}
.add_container button{
  width: 80%;
}



/* Edit Form Styling */

.edit_form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.edit_form form input{
  background: transparent;
  border: 0px;
  border-bottom: 1px solid var(--secondary-color);
  width: 80%;
  padding: 15px;
  color: var(--form-textcolor);
}
.edit_form .edit_button_container{
  display: flex;
  flex-direction: row;
}


